.calculator {
    width: 200px;
    margin: 10px auto;
    border: 1px solid black;
}

.result {
    width: 190px;
    padding: 10px 10px 10px 0;
    background-color: darkslategray;
    color: white;
    text-align: right;
}

.clear {
    width: 75%;
    float: left;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

.button {
    width: 25%;
    float: left;
    text-align: center;
    background-color: white;
    padding: 10px 0;
}

.operator {
    background-color: red;
    color: white;
}